# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# 环境变量
.env
.env.local
.env.*.local

# 临时文件和备份
temp_backup/
.DS_Store
*.local
.tmp

# 编辑器目录和文件
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 本地 Netlify 文件夹
.netlify/
